repos:
  - repo: local
    hooks:
      - id: format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true
        stages: [pre-commit]

      - id: lint
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: true
        stages: [pre-commit]

      - id: pytest
        name: pytest
        entry: uv run poe test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]
