repos:
  - repo: local
    hooks:
      - id: lint
        name: mypy
        entry: uv run poe lint
        language: system
        types: [python]
        pass_filenames: false

      - id: format
        name: ruff format
        entry: uv run poe format
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: uv run poe test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]
